<section>
    
    <h3 id="about-me">About Myself</h3>
    
    <div class="face-img"></div>
    
    
    <div class="about-para">
        
        <span>
        
             <p>

                 I’m<strong> Aravind Metku </strong>. An enthusiastic – curious 20yr old from India. I am part of some great communities like Google Student Club (<strong><h7>GSC</h7></strong>) , Hyderabad and Computer Society of India (<strong><h7><a href="http://www.csihyderabad.com" target='_blank'>CSI</a></h7></strong>) . I am also a pretty good public speaker. I’ve conducted many seminars to share the knowledge. I love coding  teaching computer to do my projects in language it can understand.  The concept of time baffles me. I am thrilled about time travel. <strong>Empty space </strong> is just a plethora of presents which are needed to be discovered and unwrapped. 

            </p>
        
        </span>
    
    
    </div>
    
   
    <div id="skills" class="skill-lockup">
            
        <div class="skill-unit">
        
            <div class="skill-label">Communication</div>
            <div class="skill-icons">
                
                <span ></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span class="deactive"></span><span class="deactive"></span>
            
            </div>
        
        </div>
        
        <div class="skill-unit">
        
            <div class="skill-label">Leadership</div>
            <div class="skill-icons">
                
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span class="deactive"></span><span class="deactive"></span>
            
            </div>
        
        </div>
        
        <div class="skill-unit">
        
            <div class="skill-label">Creativity</div>
            <div class="skill-icons">
                
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span class="deactive"></span><span class="deactive"></span>
            
            </div>
        
        </div>
        
        <div class="skill-unit">
        
            <div class="skill-label">Organization</div>
            <div class="skill-icons">
                
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span class="deactive"></span><span class="deactive"></span>
            
            </div>
        
        </div>
        
        <div class="skill-unit">
        
            <div class="skill-label">Teaching</div>
            <div class="skill-icons">
                
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span class="deactive"></span><span class="deactive"></span><span class="deactive"></span><span class="deactive"></span>
            
            </div>
        
        </div>
         
        
        <div class="skill-unit">
        
            <div class="skill-label">Humor</div>
            <div class="skill-icons">
                
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span class="deactive"></span>
            </div>
        
        </div>
        
        
        <div class="skill-unit">
        
            <div class="skill-label">Programming</div>
            <div class="skill-icons">
                
               <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span class="deactive"></span><span class="deactive"></span>
            
            </div>
        
        </div>
        
        
        <div class="skill-unit">
        
            <div class="skill-label">Learning</div>
            <div class="skill-icons">
                
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span class="deactive"></span>
            
            </div>
        
        </div>
    
    </div>
    

</section>