<section class="alt-section">

    <h3 id="works">My works</h3>
    

    
    <table class="projects-container">
        
        <tr>
            
        <td class="project-menu-1">

        <div class="project-container" id="project1">

            <a  class="project">

                <div class="project-overlay">
                    <strong class="work-label">Website <br>Development</strong>
                </div>

            </a>
        </div>

         <div class="project-container" id="project2">

            <a class="project">

                <div class="project-overlay">
                    <strong class="work-label">Logo designing </strong>
                </div>

            </a>
        </div>

         <div class="project-container" id="project3">

            <a class="project">

                <div class="project-overlay">
                    <strong class="work-label">This Webiste</strong>
                </div>

            </a>
        </div>

         <div class="project-container" id="project4">

            <a  class="project">

                <div class="project-overlay">
                    <strong class="work-label">Andriod App <br> UI/UX</strong>
                </div>

            </a>
        </div>

        </td>
            
        
        <td class="project-menu">

        <div class="project-container" id="project5">

        <a  class="project">

            <div class="project-overlay">
                <strong class="work-label">Website <br>Development</strong>
            </div>

            </a>
            </div>

         <div class="project-container" id="project6">

            <a class="project">

                <div class="project-overlay">
                    <strong class="work-label">Py. Everyday Quote<br> Extracter</strong>
                </div>

            </a>
        </div>

         <div class="project-container" id="project7">

            <a class="project">

                <div class="project-overlay">
                    <strong class="work-label">This Webiste</strong>
                </div>

            </a>
        </div>

         <div class="project-container" id="project8">

            <a  class="project">

                <div class="project-overlay">
                    <strong class="work-label">Andriod App <br> UI/UX</strong>
                </div>

            </a>
        </div>

        </td>


    <td class="project-info">

         <div class="work-para">

            <span>

                 <p id="work-info">

                        These are the few notable projects , <br>I have taken up 

                </p>

            </span>

        </div>

        </td> 

        </tr>
        
         
    </table>


</section>